
 *, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.skills-bar-container {
    position: relative;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    width: 80%;
}
.skills-bar-container li {
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
    color: #dcf8ec;
}
.skills-bar-container li .progressbar-title h3 {
    display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 5px;
}
.skills-bar-container li .bar-container {
    background: #555;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Skillbar Networks*/
.skills-bar-container li .bar-container #progress-centreon{
    -webkit-animation-name: progress-centreon;
    animation-name: progress-centreon;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-cpt {
    -webkit-animation-name: progress-cpt;
    animation-name: progress-cpt;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-wireshark {
    -webkit-animation-name: progress-wireshark;
    animation-name: progress-wireshark;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-vpn {
    -webkit-animation-name: progress-vpn;
    animation-name: progress-vpn;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-powershell {
    -webkit-animation-name: progress-powershell;
    animation-name: progress-powershell;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
/*Skillbar Dev*/
.skills-bar-container li .bar-container #progress-html {
    -webkit-animation-name: progress-html;
    animation-name: progress-html;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-css {
    -webkit-animation-name: progress-css;
    animation-name: progress-css;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-php {
    -webkit-animation-name: progress-php;
    animation-name: progress-php;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-javascript {
    -webkit-animation-name: progress-javascript;
    animation-name: progress-javascript;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-python {
    -webkit-animation-name: progress-python;
    animation-name: progress-python;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
/**/
.skills-container{
    display: flex;
}
.skill-left{
    width: 45%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.skill-right{
    width: 45%;
    margin-top: 2%;
}

.skill-left2{
    width: 45%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.skill-right2{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
/*Article*/
.networktitle {
    color: #4b8adc;
    margin-top: 5%;
    margin-left: 15%;
}
.networktxt {
    color: #f0fff8;
    margin-left: 5%;
}

.devtitle {
    color: #37bc9b;
    margin-left: 15%;
}
.devtxt {
    color: #f0fff8;
    margin-left: 5%;
}
/*Effect title*/
.content h3 {
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  
  .v8 h3 {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, #f0fff8, #e9f4d7);
    padding-bottom: 4px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  .v8:hover h3 {
    background-size: 100% 100%;
  }
/*Progressebar color*/
.progressblue {
    background-color: #4b8adc;
}
.progressgreen {
    background-color: #37bc9b;
}
/*Networks*/
@keyframes progress-centreon {
    0% {
        width: 0%;
   }
    100% {
        width: 90%;
   }
}
@keyframes progress-cpt {
    0% {
        width: 0%;
   }
    100% {
        width: 70%;
   }
}
@keyframes progress-wireshark {
    0% {
        width: 0%;
   }
    100% {
        width: 55%;
   }
}
@keyframes progress-vpn {
    0% {
        width: 0%;
   }
    100% {
        width: 45%;
   }
}
@keyframes progress-powershell {
    0% {
        width: 0%;
   }
    100% {
        width: 38%;
   }
}

/*Dev */
@keyframes progress-html {
    0% {
        width: 0%;
   }
    100% {
        width: 95%;
   }
}
@keyframes progress-css {
    0% {
        width: 0%;
   }
    100% {
        width: 90%;
   }
}
@keyframes progress-php {
    0% {
        width: 0%;
   }
    100% {
        width: 70%;
   }
}
@keyframes progress-javascript {
    0% {
        width: 0%;
   }
    100% {
        width: 50%;
   }
}
@keyframes progress-python {
    0% {
        width: 0%;
   }
    100% {
        width: 35%;
   }
}